<h1>Salary Calculator</h1>
<hr/>
<section>
	<div class="field">
		<label for="">Basic :</label>
		<input type="number" (change)="model.basic = $event.target.valueAsNumber">
	</div>
	<div class="field">
		<label for="">HRA :</label>
		<input type="number" (change)="model.hra = $event.target.valueAsNumber">
	</div>
	<div class="field">
		<label for="">DA :</label>
		<input type="number" (change)="model.da = $event.target.valueAsNumber">
	</div>
	<div class="field">
		<label for="">Tax :</label>
		<input type="range" min="0" max="30" value="0" (change)="model.tax = $event.target.valueAsNumber">
	</div>
	<div class="field">
		<input type="button" value="Calculate" (click)="model.calculate()">
	</div>
	<div class="field">
		<table>
			<tbody>
				<tr>
					<td id="tdBasic">{{model.basic}}</td>
					<td id="tdHra">{{model.hra}}</td>
					<td id="tdDa">{{model.da}}</td>
					<td id="tdTax">{{model.tax}}</td>
					<td id="tdSalary">{{model.salary}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>